
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/LayoutNguoiDung.cshtml";
}



<div class="container-fluid">
  
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card ">

                    <div class="card-body">
                        <h3 style="text-align:center">SHOESHOP</h3>
                        <hr />
                        <h4>1. Chính sách bảo mật</h4>
                        <p>
                            Việc thu thập dữ liệu chủ yếu trên website bao gồm: họ tên, email, điện thoại, địa chỉ khách hàng trong mục liên hệ. Đây là các thông tin mà chúng tôi cần thành viên cung cấp bắt buộc khi gửi thông tin nhờ tư vấn hay muốn mua sản phẩm và để chúng tôi  liên hệ xác nhận lại với khách hàng trên website nhằm đảm bảo quyền lợi cho cho người tiêu dùng.
                        </p>
                        <p>
                            Các khách hàng sẽ tự chịu trách nhiệm về bảo mật và lưu giữ mọi hoạt động sử dụng dịch vụ dưới thông tin mà mình cung cấp và hộp thư điện tử của mình. Ngoài ra, thành viên có trách nhiệm thông báo kịp thời cho webiste chúng tôi  về những hành vi sử dụng trái phép, lạm dụng, vi phạm bảo mật, lưu giữ tên đăng ký và mật khẩu của bên thứ ba để có biện pháp giải quyết phù hợp.
                        </p>
                        <p>
                            Chúng tôi sử dụng thông tin khách hàng cung cấp để:
                            <br />
                            - Liên hệ xác nhận đơn hàng và giao hàng cho thành viên khi nhận được yêu cầu từ khách hàng;
                            <br />
                            - Cung cấp thông tin về sản phẩm đến khách hàng nếu có yêu cầu từ khách hàng;
                            <br />
                            - Gửi email tiếp thị, khuyến mại về hàng hóa do chúng tôi bán;
                            <br />
                            - Gửi các thông báo về các hoạt động trên website
                            <br />
                            - Liên lạc và giải quyết với người dùng trong những trường hợp đặc biệt;
                            <br />
                            - Không sử dụng thông tin cá nhân của người dùng ngoài mục đích xác nhận và liên hệ có liên quan đến giao dịch
                            <br />
                            -   Khi có yêu cầu của cơ quan tư pháp bao gồm: Viện kiểm sát, tòa án, cơ quan công an điều tra liên quan đến hành vi vi phạm pháp luật nào đó của khách hàng.

                        </p>
                        <p>Dữ liệu cá nhân của khách hàng sẽ được lưu trữ cho đến khi có yêu cầu ban quản trị hủy bỏ. Còn lại trong mọi trường hợp thông tin cá nhân thành viên sẽ được bảo mật trên máy chủ của chúng tôi  </p>

                        <h4>2. Chính sách vận chuyển</h4>

                        <p>
                            Thông thường sau khi nhận được thông tin đặt hàng chúng tôi sẽ xử lý đơn hàng trong vòng 24h và phản hồi lại thông tin cho khách hàng về việc thanh toán và giao nhận. Thời gian giao hàng thường trong khoảng từ 2- 5 ngày kể từ ngày chốt đơn hàng hoặc theo thỏa thuận với khách khi đặt hàng. Tuy nhiên, cũng có trường hợp việc giao hàng kéo dài hơn nhưng chỉ xảy ra trong những tình huống bất khả kháng như sau:
                            <br />
                            - Nhân viên cửa hàng sẽ liên lạc với khách hàng qua điện thoại không được nên không thể giao hàng.
                            <br />
                            - Địa chỉ giao hàng bạn cung cấp không chính xác hoặc khó tìm.
                            <br />
                            - Số lượng đơn hàng của cửa hàng tăng đột biến khiến việc xử lý đơn hàng bị chậm.
                            <br />
                            - Đối tác cung cấp hàng cho cửa hàng chậm hơn dự kiến khiến việc giao hàng bị chậm lại hoặc đối tác vận chuyển giao hàng bị chậm chỉ vận chuyển phân phối cho đại lý hoặc khách hàng có nhu cầu lớn, lâu dài. Vì thế đa phần sẽ hỗ trợ chi phí vận chuyển như một cách chăm sóc đại lý cua mình. Đối với khách lẻ nếu có nhu cầu sử dụng lớn vui lòng liên hệ trực tiếp để thỏa thuận hợp đồng cũng như phí vận chuyển.
                        </p>

                        <h4>3. Chính sách thanh toán</h4>
                        <p>
                            -> Thanh toán trực tiếp bằng tiền mặt khi nhận hàng
                            <br />
                            Sau khi khách hàng đặt hàng thành công tại ShoeShop, sản phẩm sẽ được giao đến địa chỉ được quý khách hàng cung cấp. Nhân viên giao hàng sẽ xác nhận thông tin, liên hệ giao hàng và nhận tiền mặt tại địa chỉ giao hàng.
                            <br />
                            -> Thanh toán qua hình thức chuyển khoản
                            <br />
                            Đây là hình thức được nhiều khách hàng sử dụng nhất bởi tính tiện dụng, an toàn trong giao dịch và tiết kiệm thời gian. Sau khi nhận được tiền thanh toán, ShoeShop sẽ tiến hành giao hàng đến địa chỉ mà Quý khách hàng cung cấp.
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    
   
</div>