@using CuaHangBanGiay.Models;

<div class="modal fade" id="modalXoaTatCaGH">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Thông báo</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <label> Bạn có muốn xóa <strong style="color:red;">toàn bộ giỏ hàng</strong> không?</label>
            </div>

            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                @Html.ActionLink("Xóa", "XacNhanXoaTatCaGioHang", "NguoiDung", null, new { @class = "btn btn-danger" })

            </div>


        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
